$icomoon-font-family: "holberton_school-icon" !default;
$icomoon-font-path: "fonts" !default;

$holberton_school-icon-arrow_1: "\e900";
$holberton_school-icon-arrow_2: "\e901";
$holberton_school-icon-arrow_3: "\e902";
$holberton_school-icon-arrow_4: "\e903";
$holberton_school-icon-arrow_5: "\e904";
$holberton_school-icon-check: "\e905";
$holberton_school-icon-ic_bag: "\e906";
$holberton_school-icon-ic_cart: "\e907";
$holberton_school-icon-ic_facebook: "\e908";
$holberton_school-icon-ic_hearing: "\e909";
$holberton_school-icon-ic_instagram: "\e90a";
$holberton_school-icon-ic_laptop: "\e90b";
$holberton_school-icon-ic_money: "\e90c";
$holberton_school-icon-ic_music: "\e90d";
$holberton_school-icon-ic_sound: "\e90e";
$holberton_school-icon-ic_twitter: "\e90f";
$holberton_school-icon-ic_video: "\e910";
$holberton_school-icon-menu: "\e911";
$holberton_school-icon-search_1: "\e912";
$holberton_school-icon-search_2: "\e913";
$holberton_school-icon-star: "\e914";

